# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [64]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

# # Google developer API key
# from config import g_key

# # Configure gmaps
# gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [49]:
# File to Load 
city_data = "cities.csv"

# Read the Data and print dataframe
city_data_df = pd.read_csv("cities.csv")
city_data_df.dropna()
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [50]:
# Store latitude and longitude in locations
locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"].astype(int)

In [51]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [74]:
narrowed_city_df= city_data_df.loc[(city_data_df["Cloudiness"] < 7) &
                                  (city_data_df["Humidity"] <= 50)&
                                  (city_data_df["Max Temp"] >= 70) &
                                  (city_data_df["Wind Speed"] <= 10)]
narrowed_city_df = narrowed_city_df.dropna()
narrowed_city_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08
142,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36
151,151,coahuayana,1,MX,1558378783,22,18.62,-100.35,100.50,4.38
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
306,306,chunhuhub,5,MX,1558378846,35,19.59,-88.59,96.72,7.02
416,416,kirkuk,0,IQ,1558378874,16,35.47,44.40,86.82,7.36
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17
510,510,atar,1,MR,1558378892,12,20.52,-13.05,95.00,9.17
518,518,bonito,0,BR,1558378893,49,-21.13,-56.49,84.30,7.72
525,525,mecca,1,SA,1558378872,48,21.43,39.83,88.62,1.74
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05

In [75]:
narrowed_city_df.reset_index()

,index,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08
1,142,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36
2,151,151,coahuayana,1,MX,1558378783,22,18.62,-100.35,100.50,4.38
3,176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
4,306,306,chunhuhub,5,MX,1558378846,35,19.59,-88.59,96.72,7.02
5,416,416,kirkuk,0,IQ,1558378874,16,35.47,44.40,86.82,7.36
6,444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17
7,510,510,atar,1,MR,1558378892,12,20.52,-13.05,95.00,9.17
8,518,518,bonito,0,BR,1558378893,49,-21.13,-56.49,84.30,7.72
9,525,525,mecca,1,SA,1558378872,48,21.43,39.83,88.62,1.74
10,543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [54]:
# Setup column to hold hotel info
narrowed_city_df["Hotel Name"]=""
narrowed_city_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08,
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,
142,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36,

In [78]:
# Find the closest hotel to each location
target_search = "Hotel"
target_radius = 5000

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

lat = response["results"][0]["geometry"]["location"]["lat"]
lng = response["results"][0]["geometry"]["location"]["lng"]
print(response.url)

target_coordinates = f"{'lat'}{'lng'}"


# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "key": g_key
}

TypeError: 'Response' object is not subscriptable

In [65]:
# convert response to json
places_data = response.json()

# Print the json (pretty printed)
print(json.dumps(places_data, indent=4, sort_keys=True))

{
    "html_attributions": [],
    "results": [
        {
            "geometry": {
                "location": {
                    "lat": 27.1301495,
                    "lng": 81.6995822
                },
                "viewport": {
                    "northeast": {
                        "lat": 27.13149757989272,
                        "lng": 81.70094067989272
                    },
                    "southwest": {
                        "lat": 27.12879792010727,
                        "lng": 81.69824102010729
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "b93e3cf261c7615e094e90a1f27d40d4c1c6e048",
            "name": "Sareef Baba Juma Biryani Wale",
            "place_id": "ChIJcU3jqA-QmTkRO9QltLy-wCs",
            "plus_code": {
                "compound_code": "4MJX+3R Sakraura, Uttar Pradesh, India",
                "global_code": "7MV34MJX+3R"
            },
            "rating": 0,
            "reference": "ChIJcU3jqA-QmTkRO9QltLy-wCs",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 0,
            "vicinity": "Sadar Bazar, Colonelganj"
        },
        {
            "geometry": {
                "location": {
                    "lat": 27.130265,
                    "lng": 81.700999
                },
                "viewport": {
                    "northeast": {
                        "lat": 27.13171437989272,
                        "lng": 81.70234182989272
                    },
                    "southwest": {
                        "lat": 27.12901472010727,
                        "lng": 81.69964217010728
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "ddd3cad03ba8757a988ba65615d311cc580fa2be",
            "name": "maurya tea stal",
            "photos": [
                {
                    "height": 1564,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/116622282819109721601/photos\">A Google User</a>"
                    ],
                    "photo_reference": "CmRaAAAAoAp2mTJIOiNN4KdM_WwkJgLNQDS3Q6qIjwteYZLDG7B21cDJaYGByeXKNGpX64UDmBU7ddh85UI1d8AjT-s_QOe-495cVIc1cvHrYmp0vVqYb66YTuEMqoJRR3YzxFCREhCoE8upnsfQQvR3ReUJy7EHGhQIbTp7m-_p2Q3EqsUY1kqys3VOcw",
                    "width": 1564
                }
            ],
            "place_id": "ChIJ47QhyQ-QmTkRM85m8_5dT5E",
            "plus_code": {
                "compound_code": "4PJ2+49 Sakraura, Uttar Pradesh, India",
                "global_code": "7MV34PJ2+49"
            },
            "rating": 3.9,
            "reference": "ChIJ47QhyQ-QmTkRM85m8_5dT5E",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 22,
            "vicinity": "Sadar Bazar, Sakraura"
        },
        {
            "geometry": {
                "location": {
                    "lat": 27.1465914,
                    "lng": 81.7101734
                },
                "viewport": {
                    "northeast": {
                        "lat": 27.14808457989272,
                        "lng": 81.71167522989272
                    },
                    "southwest": {
                        "lat": 27.14538492010728,
                        "lng": 81.70897557010727
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "563e297fff2eeb24b4bcaf02925e85b08907b077",
            "name": "Sohan Lal Mama",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 3264,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/100725413298358369831/photos\">Akash Production</a>"
                    ],
                    "photo_reference": "CmRaAAAA_bPgLgA7xuyjRW0NBNgjkNAY-jyv_XDlCep9CXQSmEiw4gKBxBYY_1a-iaKgwIZZjaUqKZ3p9x0AjewA-WrHsMI9n-4l9kY5ZK2FMGh3-RGj52NZQ6h9-tcBfGzRxG72EhA0_Za5gUneIZX7zPUf3qksGhQ3cqa7dHr6bH2K01DMrHI30Zwrjw",
                    "width": 2448
                }
            ],
            "place_id": "ChIJLfSzPRKRmTkRySgwywMqLXM",
            "plus_code": {
                "compound_code": "4PW6+J3 Hatahi, Uttar Pradesh, India",
                "global_code": "7MV34PW6+J3"
            },
            "rating": 3.5,
            "reference": "ChIJLfSzPRKRmTkRySgwywMqLXM",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 2,
            "vicinity": "baisanpurwa, Colonelganj"
        },
        {
            "geometry": {
                "location": {
                    "lat": 27.1322399,
                    "lng": 81.69437719999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 27.13353792989272,
                        "lng": 81.69589697989272
                    },
                    "southwest": {
                        "lat": 27.13083827010728,
                        "lng": 81.69319732010727
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "f0ec82a0869f8a3d530b9541db6c1ba8078dde5c",
            "name": "AMAAN'S HOUSE",
            "place_id": "ChIJ6wsZpNORmTkR51oRA5i3BYo",
            "plus_code": {
                "compound_code": "4MJV+VQ Colonelganj, Uttar Pradesh, India",
                "global_code": "7MV34MJV+VQ"
            },
            "rating": 5,
            "reference": "ChIJ6wsZpNORmTkR51oRA5i3BYo",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 1,
            "vicinity": "Colonelganj"
        },
        {
            "geometry": {
                "location": {
                    "lat": 27.1337134,
                    "lng": 81.7025783
                },
                "viewport": {
                    "northeast": {
                        "lat": 27.13508472989272,
                        "lng": 81.70390227989272
                    },
                    "southwest": {
                        "lat": 27.13238507010728,
                        "lng": 81.70120262010728
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "77aabc0efdb9a2e1941155e00d867c6ed82469cc",
            "name": "Rizwan Traders",
            "place_id": "ChIJe5YGDlORmTkR6U9Zy0oNbLs",
            "plus_code": {
                "compound_code": "4PM3+F2 Colonelganj, Uttar Pradesh, India",
                "global_code": "7MV34PM3+F2"
            },
            "rating": 0,
            "reference": "ChIJe5YGDlORmTkR6U9Zy0oNbLs",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 0,
            "vicinity": "Katra Rd, Colonelganj"
        },
        {
            "geometry": {
                "location": {
                    "lat": 27.1304433,
                    "lng": 81.6957924
                },
                "viewport": {
                    "northeast": {
                        "lat": 27.13187522989272,
                        "lng": 81.69716212989272
                    },
                    "southwest": {
                        "lat": 27.12917557010728,
                        "lng": 81.69446247010727
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "5b8c70cbeac1109c9ebda8a8fe30faa0767ace8a",
            "name": "Anand Hotel",
            "place_id": "ChIJbUZj2AiQmTkR7w_qijCvIdc",
            "plus_code": {
                "compound_code": "4MJW+58 Sakraura, Uttar Pradesh, India",
                "global_code": "7MV34MJW+58"
            },
            "rating": 4.2,
            "reference": "ChIJbUZj2AiQmTkR7w_qijCvIdc",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 5,
            "vicinity": "Lucknow - Colonelganj - Gonda Rd, Colonelganj"
        }
    ],
    "status": "OK"
}

In [66]:
print(places_data["results"][0]["name"])
print(places_data["results"][0]["vicinity"])

Sareef Baba Juma Biryani Wale
Sadar Bazar, Colonelganj

In [70]:
hotel_df = []
for city in narrowed_city_df:
    response = requests.get(base_url, params = params).json()
    hotel_df.append(places_data["results"][0]["name"])
    try:
        narrowed_city_df.loc['Hotel Name'] = hotel_df
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
narrowed_city_df.head()

ValueError: cannot set a row with mismatched columns

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map

# Display Map